{% extends 'temp2/indexadmin.html' %}

{% comment %}{% block js2 %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}¡Bien!:
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        Aviso: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}{% endcomment %}


{% block enviarcata %}
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}¡Bien!:
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Advertencia:
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Aviso: {% endif %}
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <h1 class="h3 mb-2 text-gray-800">CHALECOS</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {#<h6 class="m-0 font-weight-bold text-primary">Lista de Chalecos</h6>#}


            {# barra debusqueda#}
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                  method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..."
                           name="buscar">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>

            <button onclick="abrir_modal_registrar('{% url 'regitrar-prenda' %}')"
                    class="btn btn-success float-right">Agregar Chaleco
            </button>


        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr class="text-center">
                        <th>Nro</th>
                        <th>Nombre</th>
                        <th>Tipo de tela</th>
                        <th>Color</th>
                        <th>Caracteristicas</th>
                        <th>Precio</th>
                        <th>Talla</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for c in chalecos %}
                        <tr class="text-center">
                            <td>{{ c.pk }}</td>
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.tipoTela }}</td>
                            <td>{{ c.color }}</td>
                            <td>{{ c.caracteristica }}</td>
                            <td>{{ c.precio }}</td>
                            <td>{{ c.talla }}</td>
                            <td><img style="width: 100px;height: 100px" src="{{ c.imagen.url }}" alt=""></td>
                            <td>
                                <button onclick="abrir_modal_editar('{% url 'editar_prenda' c.id %}')"
                                        class="btn btn-primary">Editar
                                </button>

                                {% comment %}<button formmethod="get"
                                        onclick="abrir_modal_eliminar('{% url 'eliminar_chaleco' c.id %}')"
                                        class="btn btn-danger">Eliminar
                                </button>{% endcomment %}
                                {% if user.is_superuser %}
                                    <a href="#" onclick="eliminarProducto({{ c.id }})" class="btn btn-danger">Eliminar
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="modal fade" id="eliminar" role="dialog"></div>
                <div class="modal fade" id="editar" role="dialog"></div>
                <div class="modal fade" id="registrar" role="dialog"></div>


            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        let $ = jQuery.noConflict();

        function abrir_modal_eliminar(url) {
            $('#eliminar').load(url, function () {
                $(this).modal('show')
            });
        }

        function abrir_modal_editar(url) {
            $('#editar').load(url, function () {
                $(this).modal('show')
            });
        }

        {% comment %}agregar{% endcomment %}

        function abrir_modal_registrar(url) {
            $('#registrar').load(url, function () {
                $(this).modal('show')
            });
        }
    </script>

    {% comment %}eliminar chaleco{% endcomment %}
    <script>
        function eliminarProducto(id) {
            Swal.fire({
                "title": "Deseas Eliminar este producto",
                "text": "esta accion no se puede desaser",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "darkred"
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = "/admin1/eliminar-chaleco2/" + id + "/"
                    }
                })
        }
    </script>

    <script text="javascript">
        $(document).ready(function () {
            // messages timeout for 10 sec
            setTimeout(function () {
                $('.messages').fadeOut('slow');
            }, 3000); // <-- time in milliseconds, 1000 =  1 sec
        });
    </script>
{% endblock %}