{% extends 'temp2/indexadmin.html' %}

{% block extrajs %}

    <script>
        function eliminarProducto(id) {
            Swal.fire({
                "title": "Deseas Eliminar este producto",
                "text": "esta accion no se puede desaser",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "darkred"
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = "/admin1/vista/eliminar/mensaje/" + id + "/"
                    }
                })
        }

        function abrir_modal_editar(url) {
            $('#editar').load(url, function () {
                $(this).modal('show')
            });
        }

        function abrir_modal_registrar(url) {
            $('#registrar').load(url, function () {
                $(this).modal('show')
            });
        }


    </script>
{% endblock %}

{% block enviarcata %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Vitacora por correo</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">****</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr class="text-center">
                        <th>Nombre</th>
                        <th>Correo eletronico</th>
                        <th>Opciones</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for usu in usuarios3 %}
                        <tr class="text-center">
                            <td>{{ usu.nombreUsu }}</td>
                            <td>{{ usu.correousu }}</td>
                            <td>
                                <a href="#" onclick="eliminarProducto({{ usu.id }})" class="btn btn-danger">Eliminar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="modal fade" id="eliminar" role="dialog"></div>
                <div class="modal fade" id="editar" role="dialog"></div>
                <div class="modal fade" id="registrar" role="dialog"></div>
                {% comment %}<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Correo eletronico</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for c in correos %}
                        <tr>
                            <td>{{ c.correousu }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>{% endcomment %}


                {% comment %}<form action="{% url 'mandarcorreo2' %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="file" required>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Enviar Catalgo</button>
                </form>{% endcomment %}
            </div>
        </div>
    </div>

{% endblock %}